
/*=============================================
=            Reset            =
=============================================*/
html,
body {
  height: 100%;
}
body {
  margin: 0 auto;
  #chat-widget-container {
    z-index: 5 !important;
  }
}
img {
  max-width: 100%;
  height: auto;
}

a img {
  border: none;
}

*:focus {
  outline: 0;
}

// stupid IE Flex fixes
.ie-flex {
  flex: 0 0 auto;
}

// Responsive Videos
.videos-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videos-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (hover:none) {
  a.phone-link {
    color: $blue;
  }
}
/*=====  End of Reset  ======*/