/*----------  Colors  ----------*/
$blue: #84d4e3;
$pink: #f4b5bc;
$yellow: #fad77b;
$darkYellow: #cbb345;
$orange: #af4209;
$green: #446455;
$muteGreen: #8d9875;
$taupe: #cdc08c;
$teal: #609f80;
$darkTeal: #4a574d;
$lightGray: #d5d5d3;
$silver: #d3dddc;
$darkBlue: #29211f;
$maroon: #5b1a18;
$black: #000;
$danger: $maroon;

/*----------  Grays  ----------*/
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;


/*----------  Body  ----------*/
$body-bg: $gray-300;

/*----------  type  ----------*/
$font-family-sans-serif: 'FFDINWebPro', arial, sans-serif;
$font-family-bold: 'FFDINWebProBold', arial, sans-serif;
$body-color: $darkTeal;
$link-color: $darkBlue;
$link-hover-color: $maroon;
$link-decoration: none;


/*----------  forms  ----------*/
$input-border-color: $darkTeal;
$input-btn-focus-color: transparent;
$input-focus-border-color: $darkTeal;
$input-btn-focus-color-opacity: 0;
$input-btn-focus-box-shadow: none;
$input-placeholder-color: $darkTeal;

/*----------  buttons  ----------*/
$btn-active-box-shadow: none;

/*----------  tables  ----------*/
$border-color: $darkTeal;

/*----------  cards  ----------*/
$card-height: 100%;

/*----------  accordion  ----------*/
$accordion-button-color: $black;
$accordion-icon-color:  $blue;
$accordion-button-active-color: black;
$accordion-button-bg: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-focus-box-shadow: none;
$accordion-padding-y: 0;
$accordion-padding-x: 0; 
$accordion-icon-width: 1rem;

/*----------  Navbar  ----------*/
$navbar-light-color: $blue;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-light-toggler-border-color: transparent;
$navbar-light-hover-color:  $blue;
$navbar-light-active-color: $blue;
$navbar-toggler-focus-width: 0;
$navbar-dark-color: #fff;


