<main>
  <div class="container">
    <div class="row justify-content-between">
      <h2 class="col-md-8">Glossary</h2>
      <div class="col-12 col-md-4">
        <div class="input-group">
          <input id="search-field" type="search" class="search form-control" name="term" placeholder="Search Terms" />
          <button type="submit" class="btn btn-inline btn-blue" aria-label="podcast-search-button">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</main>